<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Tydzien7Lekcja27ZD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
	</connectionStrings>
	<userSettings>
		<Tydzien7Lekcja27ZD.Properties.Settings>
			<setting name="DBServerName" serializeAs="String">
				<value>SMKI-PC</value>
			</setting>
			<setting name="DBInstanceName" serializeAs="String">
				<value>SQLEXPRESS</value>
			</setting>
			<setting name="DBName" serializeAs="String">
				<value>DiaryDB</value>
			</setting>
			<setting name="DBUser" serializeAs="String">
				<value>diarylogin</value>
			</setting>
			<setting name="DBPassword" serializeAs="String">
				<value>diarylogin</value>
			</setting>
		</Tydzien7Lekcja27ZD.Properties.Settings>
	</userSettings>
</configuration>